<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请博客</title>
</head>
<body>
    <form action="/web/grzy/sqbk" method="post">
           <P>后缀名<input type="text" name="suffixURL"></P>
           <P>个人主题<input type="text" name="theme"></P>
           <P>基本介绍<input type="text" name="present"></P>
           <P>你的博客<input type="text" name="user_id" value="{{ user.name }}"></P>
            <P style="margin:10px 44% 0"><input type="submit" value="注册"></P>

        </form>
</body>
</html>