{% extends "user/moban.html" %}

{% block  content %}
    <style>
    .lg{
        width: 80%;
        margin-left:auto;
        margin-right:auto;
    }
    </style>
    <h3 style="margin:10px 44% 0">登入</h3>
    <div class="lg">
        <form action="/user/log.html" method="post">
           <p>{{ user_form.name.label}}{{ user_form.name }} {{ user_form.name.errors }}</p>
           <p>{{ user_form.pwd.label}}{{ user_form.pwd }} {{ user_form.pwd.errors }}</p>
            <P style="margin:10px 44% 0"><input type="submit" value="登入"></P>
        </form>
    </div>
{% endblock %}