<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
</head>
<body>
<form method="post" action="/web/1edit.html">
    <div class="title-t">标题：
        <input type="text" name="title" value="{{ wz.title }}">
    </div>
    <div class="xx-t">
        创建时间：{{ wz.C_time}}\t作者：{{ wz.author.name }}
    </div>
     <div class="comtent-t">
         <div>内容：</div>
         <textarea name="comtent" >{{ wz.article_nr_id.content }}</textarea>
         <input type="text" name="nid" value="{{ wz.id }}" readonly style="display: none">
{#        <input type="text" name="comtent" value="{{ wz.article_nr_id.content }}" style="height: 100px">#}
    </div>
    <input type="submit" value="确认修改">
</form>
</body>
</html>